html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: #696969;
}

h1 {
    font-family: 'Lobster', cursive;
    text-align: center;
}

h2 {
    text-decoration: underline;
    text-align: center;
    font-family: 'Acme', sans-serif;
}

#about-me {
    display: none;
}

/* --------------------Header-------------------------- */
nav {
    background-color: #2f4f4f;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

nav ul {
    padding-left: 0;
}

nav ul li {
    list-style-type: none;
    text-align: center;
    padding: 4% 0%;
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.3em;
}

nav ul a {
    text-decoration: none;
    color: white;
}

nav ul a li:hover {
    background-color: #696969;
    color: black;
}

/* --------------------Experience-------------------------- */
#experience {
    background-color: #d3d3d3;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 2% 4% 2% 2%;
}

#experience ul li {
    list-style-type: none;
    font-family: 'Ubuntu', sans-serif;
}
#experience ul li:first-child {
    padding-bottom: 5%;
    font-weight: bold;
    text-decoration: underline;
}

#experience ul li:nth-child(2) {
    padding-bottom: 5%;
    font-weight: bold;
}

#experience a {
    margin-left: 10%;
}

/* --------------------Education-------------------------- */
#education {
    background-color: #c0c0c0;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 2% 4% 2% 2%;
    margin-top: 5%;
}

#education h3 {
    font-family: 'Ubuntu', sans-serif;
}

#education ul li:first-child {
    padding-bottom: 5%;
    font-weight: bold;
    text-decoration: underline;
}

#education ul li:nth-child(2) {
    padding-bottom: 5%;
    font-weight: bold;
}

#education p {
    font-family: 'Rajdhani', sans-serif;
}

#education a {
    margin-left: 10%;
}

/* --------------------Contact-------------------------- */
#contact {
    background-color: #d3d3d3;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 2% 4% 2% 2%;
    margin-top: 5%;
}

#contact p {
    font-family: 'Rajdhani', sans-serif;
}

#contact a {
    margin-left: 10%;
}

/* --------------------Skills-------------------------- */
#skills {
    background-color: #c0c0c0;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 2% 4% 2% 2%;
    margin-top: 5%;
}

#skills a {
    margin-left: 10%;
}

#skills ul {
    padding-left: 0;
}

#skills ul li {
    list-style-type: none;
    font-family: 'Rajdhani', sans-serif;
    text-align: center;
}

/* --------------------Interest-------------------------- */
#interest {
    background-color: #c0c0c0;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 2% 4% 2% 2%;
    margin-top: 5%;
}

#interest a {
    margin-left: 10%;
}

#interest ul {
    padding-left: 0;
}

#interest ul li {
    list-style-type: none;
    font-family: 'Rajdhani', sans-serif;
    text-align: center;
}
