html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: #696969;
}

nav {
    background-color: #ffffff;
}

nav ul li {
    list-style-type: none;
    text-align: center;
    padding-top: 4%;
}
